.git
.codex
.cursor
.env
.env.*
.idea
.nova
.phpunit.cache
.phpunit.result.cache
.vscode
.zed
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/*.sqlite
npm-debug.log
yarn-error.log
Dockerfile
docker-compose*.yml
